@charset "utf-8";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 18px;
}
.boton-inicio {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #29323c;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.boton-inicio:hover {
    background-color: #1d252d;}
